.App {
  margin : 0;
  padding : 0;
  text-align: center;
}

#main__alert {
  background-color: grey;
}

#main__alert h7 {
  color : white;
}

.header__one {
  width : 100%;
  display : flex;
  background-color: white;
  justify-content: center;
}

.header__one div {
  flex : 1;
}

.header__one img {
  width : 300px;
  height : 300px;
  padding-left: 15px;
  /* 크기에 맞게 보여줌 */
  object-fit: fill;
}

.header__content{
  display : flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.header__content li {
  /* 폰트 적용 */
  font-family: 'Unbounded', cursive;
  /* 줄바꿈 적용 X */
  white-space: nowrap;
  color : grey;
  padding-top : 150px;
}

.header__two {
  display : flex;
  justify-content: space-around;
  font-family: 'Unbounded', cursive;
  list-style: none;
  padding-top : 4%;
}

.header__menuOne{
  display : flex;
  padding-right: 20%;
}

.header__menuOne li{
  list-style: none;
  padding-left : 40px;
}

.header__menuTwo {
  display : flex;
  padding-left: 20%;
}

.header__menuTwo li{
  list-style: none;
  padding-right : 40px;
}

.main {
  margin-top: 100px;
  width : 100%;
  height : 800px;
}